.page{
    height: 38px;
    background-color: rgb(15, 232, 159);
    font-weight: bold;
    justify-content: center;
    padding-top: 6px;
    border-radius: 5px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    
}